extends layout

block content
  h1 Hubcity Studios
  p.A  A web development studio for Hattiesburg, Mississippi and the surrounding areas
  hr
  .row
    .col-sm-6
      h2 Need a website
      p We can help out with that.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Socal Media Management
      p Our media managers are ready to help out.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Custom Web Application Development
      p Our developer are primed and ready to ease your pains.  Make your life easier with custom app development.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Something in Item no 4
      p Something should go here
      p
        a.btn.btn-default(href='#', role='button') View details »
